[submodule "ruby-fundamentals"]
	path = ruby-fundamentals
	url = git@github.com:mhackersu/ruby-fundamentals.git
[submodule "ruby-programming-101"]
	path = ruby-programming-101
	url = git@github.com:mhackersu/ruby-programming-101
[submodule "algo-data-structures-ruby"]
	path = algo-data-structures-ruby
	url = git@github.com:mhackersu/algo-data-structures-ruby
